{% if crumbs|length %}
<ul class="breadcrumb">
{% for crumb in crumbs %}
    <li{% if crumb.class is defined %} class="{{ crumb.class }}"{% endif %}>
        {% if crumb.path %}
            <a href="{{ crumb.path }}">{{ crumb.label|truncate(60)|raw }}</a>
        {% else %}
            {{ crumb.label|truncate(60)|raw }}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
