<li class="active"><a href="#content2" data-toggle="tab">{{ 'Content'|trans }}</a></li>
<li><a href="#main1" data-toggle="tab">{{ 'Settings'|trans }}</a></li>
<li><a href="#seo" data-toggle="tab">{{ 'SEO'|trans }}</a></li>
<li><a href="#admin" data-toggle="tab">{{ 'Admin'|trans }}</a></li>
