<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#tab1" data-toggle="tab">{{ 'Main'|trans }}</a></li>
    {% if app.user.isSuperAdmin %}
    <li><a href="#tab3" data-toggle="tab">{{ 'ACL'|trans }}</a></li>
    {% endif %}
</ul>
