html {
    overflow-y: scroll;
}

body {
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: none !important;
}

a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin: 20px 0;
    font-size: 24px;
}

#content, #sidebar {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.breadcrumb {
    margin: 0 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 0;
    background: #fff;
    border-radius: 0;
    padding: 8px 20px;
}

.navbar {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 0;
    background: #fff;
    margin-bottom: 0;
}

/* table */

.table.table-sortable td {
    cursor: move;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    vertical-align: middle;
}

form .nav-tabs, form .nav-pills {
    margin-bottom: 20px;
}

.form-horizontal .control-label {
    text-align: left;
}

.ui-state-highlight {
    height: 47px;
    line-height: 47px;
}

.ui-state-highlight td {
    background-color: #d9edf7 !important;
}

/* boostrap */

.chzn-container {
    min-width: 100%;
}

.chzn-container-single .chzn-single {
    height: 31px;
    line-height: 30px;
}

.tab-content {
    overflow: visible;
}

#sortable1 > li:hover {
    background: #eee;
    cursor: move;
}

#loader {
    position: fixed;
    left: 50%;
    top: 40%;
    margin-top: -42px;
    z-index: 9999;
}

#loader-inner {
    position: relative;
    left: -50%;
    color: #333;
    padding: 20px 60px;
    text-align: center;
    background-color: #fcf8e3;
    border: 1px solid #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.uploadify {
    float: left;
    width: auto !important;
    height: auto !important;
    margin: 0 10px 0 0;
}

.uploadify-queue {
    margin: 20px 0;
}

.uploadify-button {
    width: auto !important;
    height: auto !important;
    line-height: 20px !important;
}

.uploadify-queue-item .cancel a {
    background-image: url(/bundles/msiadmin/vendor/bootstrap/img/glyphicons-halflings.png);
    background-position: -312px 0;
    float: right;
    height: 14px;
    text-indent: -9999px;
    width: 14px;
    line-height: 14px;
}

.navbar [class^="icon-"], .navbar [class*=" icon-"] {
    vertical-align: middle;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    vertical-align: middle;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block !important;
    width: 1.1428571428571428em;
    text-align: center;
}

[class^="icon-"].icon-large,
[class*=" icon-"].icon-large {
    width: 1.4285714285714286em;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.well .form-group:last-child, .modal .form-group:last-child {
    margin-bottom: 0;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: visible;
}

.modal-footer {
    margin-top: 0;
}

/*#limitForm .input-group-addon {
    background: none;
    border: 0;
}*/

.chzn-container-multi .chzn-choices .search-field input {
    height: auto;
    padding: 6px 12px;
}

.chzn-container-multi .chzn-choices .search-choice {
    margin: 7px 0 0 6px;
}

.chzn-container-multi .chzn-choices {
    height: 34px;
    line-height: 1.428571429;
    font-size: 14px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*.nav-stacked>li {
    margin: 0 0 -1px !important;
}

.nav-pills>li>a {
    border-radius: 0;
    border: 1px solid #ddd;
    color: #555555;
}

.nav-pills>li:first-child>a {
    border-radius: 4px 4px 0 0;
}

.nav-pills>li:last-child>a {
    border-radius: 0 0 4px 4px;
}

.nav-pills>li.active>a {
    border: 0;
}*/

.alert-danger-important {
color: #b94a48 !important;
background-color: #f2dede !important;
border-color: #eed3d7 !important;
}

#msi_admin_search_index h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}

#limitForm .input-group-addon {
    border: 0;
    background: none;
}

#limitForm .input-group-addon:first-child {
    padding-left: 0;
}

#limitForm .input-group-addon:last-child {
    padding-right: 0;
}
