html {
    overflow-y: scroll;
}

body {
    background: #fff;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 0 0 0;
    font-size: 24.5px;
    line-height: 38px;
}

h4, h5 {
    margin: 0 0 0;
    margin-bottom: 20px;
    line-height: 38px;
}

/* content */

#content, #sidebar {
    /*background: #fff;*/
    /*box-shadow: 0px 0px 3px #999;*/
    /*border: 1px solid #999;*/
    /*margin-bottom: 20px;*/
    /*padding: 20px;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
}

#content form, #sidebar form {
    margin-bottom: 20px;
}

.modal form {
    margin-bottom: 0 !important;
}

#sidebar .nav {
    margin-bottom: 20px;
}

/*.breadcrumb {
    border-radius: 0;
    margin: 0 -20px 20px;
    padding-left: 20px;
    padding-right: 20px;
}*/

.page-header {
    margin: 0 0 20px;
    border: 0;
    padding: 0 0;
}

#sidebar select {
    width: 100%;
}

#sidebar .nav-list {
    margin: 0 -20px 20px;
}

/* nav */

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
    margin-bottom: 15px;
}

/* table */

.table.table-sortable td {
    cursor: move;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    vertical-align: middle;
}

form .nav-tabs {
    margin-bottom: 20px;
}

.form-horizontal .control-label {
    text-align: left;
}

.ui-state-highlight {
    height: 47px;
    line-height: 47px;
}

.ui-state-highlight td {
    background-color: #d9edf7 !important;
}

input[readonly] {
    cursor: pointer;
    background-color: #eeeeee;
}

.msi_admin_admin_change img {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
}

.control-group:last-child {
    margin-bottom: 0;
}

select {
    /*width: auto;*/
}

/* boostrap */

.chzn-container {
    min-width: 100%;
}

.chzn-container-single .chzn-single {
    height: 31px;
    line-height: 30px;
}

.tab-content {
    overflow: visible;
}

/*.alert-wrap {
    position: absolute;
    left: 50%;
    top: -32px;
}*/

/*.alert {
    color: inherit;
    font-weight: bold;
}*/

#sortable1 > li:hover {
    background: #eee;
    cursor: move;
}

#loader {
    position: fixed;
    left: 50%;
    top: 40%;
    margin-top: -42px;
    z-index: 9999;
}

#loader-inner {
    position: relative;
    left: -50%;
    color: #333;
    padding: 20px 60px;
    text-align: center;
    background-color: #fcf8e3;
    border: 1px solid #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

/*.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}

.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}*/

/* uploadify */

.uploadify {
    float: left;
    width: auto !important;
    height: auto !important;
    margin: 0 10px 0 0;
}

.uploadify-queue {
    margin: 20px 0;
}

.uploadify-button {
    width: auto !important;
    height: auto !important;
    line-height: 20px !important;
}

.uploadify-queue-item .cancel a {
    background-image: url(/bundles/msiadmin/vendor/bootstrap/img/glyphicons-halflings.png);
    background-position: -312px 0;
    float: right;
    height: 14px;
    text-indent: -9999px;
    width: 14px;
    line-height: 14px;
}

/* responsive */
/*@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 979px) {
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }
}*/

/* font awesome */

.navbar [class^="icon-"], .navbar [class*=" icon-"] {
    vertical-align: middle;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    vertical-align: middle;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block !important;
    width: 1.1428571428571428em;
    text-align: center;
}

[class^="icon-"].icon-large,
[class*=" icon-"].icon-large {
    width: 1.4285714285714286em;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.well .form-group:last-child, .modal .form-group:last-child {
    margin-bottom: 0;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: visible;
}

.modal-footer {
    margin-top: 0;
}
