html {
    overflow-y: scroll;
}

.container {
    max-width: 970px;
}

a:hover {
    text-decoration: none;
}

.navbar [class^="icon-"],
.navbar [class*=" icon-"],
.btn [class^="icon-"],
.btn [class*=" icon-"] {
    vertical-align: middle;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block !important;
    width: 1.1428571428571428em;
    text-align: center;
}

[class^="icon-"].icon-large,
[class*=" icon-"].icon-large {
    width: 1.4285714285714286em;
}

.input-group {
    margin-bottom: 15px;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    vertical-align: middle;
}

.uc {
    text-transform: uppercase;
}
