<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#tab1" data-toggle="tab">{{ 'Main'|trans }}</a></li>
    <li><a href="#tab2" data-toggle="tab">{{ 'Language'|trans }}</a></li>
    <li><a href="#tab3" data-toggle="tab">{{ 'SEO'|trans }}</a></li>
</ul>
